DATABASE_URL="postgresql://REPLACE_ME"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
BLOB_READ_WRITE_TOKEN=""
INNGEST_SIGNING_KEY=""
INNGEST_EVENT_KEY=""
